body {
  background-color: #011F3F;
  margin: 0;
  text-align: center;
}

h1 {
  color: #FEF2BF;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.2rem;
  margin: 2.5%;
}

#container {
  display: block;
  margin: auto;
  width: 50%;
}

.btn {
  display: inline-block;
  border: 10px solid black;
  border-radius: 20%;
  height: 200px;
  margin: 20px;
  width: 200px;
}

.btn:hover {
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  background-color: grey;
  box-shadow: 0 0 20px white;
}